//font-family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

//defined colors
$header-color : #3a3a3a;
$background : #fcfcfc;
$product-name : #a928ff;

//font weights
$header-bold-font : 800;
$header-medium-font : 600;
$header-light-font : 400;

//font size
$header-product-size : 1.8em;

body,
html {
    background-color: $background;
    font-family: 'Noto Sans JP', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrap {
        max-width: 1024px;
        width: 50%;
        -webkit-box-shadow: 9px 9px 2px -3px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 9px 9px 2px -3px rgba(0, 0, 0, 0.07);
        box-shadow: 9px 9px 2px -3px rgba(0, 0, 0, 0.07);
    }

    h1 {
        color: $header-color;
        font-weight: $header-bold-font;
    }

    .product-header {
        color: $product-name;
        font-weight: $header-medium-font;
        font-size: $header-product-size;
    }

    .product-desc {
        color: $header-color;
        font-weight: $header-light-font;
    }
}