//font-family
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

//defined colors
$header-color: #3a3a3a;
$background: #fcfcfc;
$product-name: #a928ff;

//font weights
$header-bold-font: 800;
$header-medium-font: 600;
$header-light-font: 400;

//font size
$header-product-size: 1.8em;

body,
html {
    background-color: $background;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: block;
    text-align: center;

    h1 {
        padding: 50px;
        margin: 0;
        border-top: 5px solid $product-name;
    }

    .container {
        padding: 2rem;
        max-width: 1024px;
        width: 50%;
        -webkit-box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.07);
        box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.07);
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-between;

        .item {
            flex: 0 50%;
            margin: 0 auto;
        }

        .product-image img {
            border: 1px solid rgb(211, 211, 211);
            padding: 10px;
        }
    }

    .product-header {
        .prd-name {
            color: $header-color;
            font-weight: $header-bold-font;
            color: $product-name;
            font-weight: $header-medium-font;
            font-size: $header-product-size;
            text-align: left;
            margin-top: 0;
        }

        .product-desc {
            color: $header-color;
            font-weight: $header-light-font;
            text-align: left;
        }
    }

    .cart-btn {
        outline-color: none;
        border: none;
        background-color: #4a68ff;
        float: left;
        cursor: pointer;
        color: #ffffff;
        font-size: 15px;
        padding: 20px 35px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #272d66;
    }

    .cart-btn:hover {
        background-color: #2f3fd6;
    }

    .cart-btn:active {
        border: 0;
        outline: none;
        outline-color: none;
    }

    .add-to-cart {
        background: #f3f3f3;
        color: $header-color;
        box-shadow: none;
        text-shadow: none;
        padding: 20px 35px;
        margin-right: 10px;
        float: right;
        width: 100px;
    }

    .add-to-cart:hover {
        background: #f3f3f3;
        cursor: default;
    }

    .color-box {
        width: 40px;
        height: 40px;
        margin-top: 5px;
        border-radius: 150px;
    }

    .disabledButton {
        background: #f3f3f3;
        color: $header-color;
        cursor: default;
    }

    .disabledButton:hover {
        background: #f3f3f3;
    }

    .lineThrough {
        text-decoration: line-through;
    }
}